.btn-white-on-blue{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #EEEEEE;

    background-color: #00ADB5;
    color: #EEEEEE;
    transition: 0.15s;
}

.btn-white-on-blue:hover{
    color: #00ADB5;
    background-color: #EEEEEE;
    transition: 0.15s;
}
