header
{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 100px;
}

#header-title
{
    flex-grow: 90;
    justify-self: center;
    align-self: center;
    justify-items: center;
    text-align: center;
}

#header-bottom-controls
{
    flex-grow: 10;
    text-align: center;
    height: 50px;
}