header
{
    min-height: 600px;
    max-height: 100%;
    display: flex;

    justify-content: center;
    gap: 10px;
}

#header-dog
{
    justify-self: center;
    align-self: center;
}

#header-title
{
    justify-self: center;
    align-self: center;
    text-align: center;
}

#header-title h3
{
    display: flex;

    justify-content: center;
    gap: 40px;
}

#header-bottom-controls
{
    flex-grow: 10;
    text-align: center;
    height: 50px;
}

@media (max-width: 800px)
{
    #header-dog
    {
        display: none;
    }
}