html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
}

section{
    /* min-height: 100vh; */
    padding: 20px;
}

.section-title{
    
}

main
{
    max-width: 1200px;
    margin: auto;
}

section{
    margin-top: 20px;
}

h3
{
}

#about-me
{
    display: flex;
    flex-wrap: wrap;
}