html{
  width: 100%;
}

body{
  width: 100%;
  scroll-behavior:smooth;
  scrollbar-width: none;
  overflow-y: scroll;
  /* overflow: hidden; */
  margin: 0px;
}

/* nav */
nav{
  /* background-color: var(--background-darker); */
  background-color: var(--transparent);

  position: fixed;
  top: 0;

  width: 100%;

  padding: 20px 0px;

  z-index: 3;
}

nav .options {
  flex: 1;

  display: flex;
  justify-content: space-between;
}

nav .options div{
  padding: 0 20px;
}

nav a{
  margin: 0px;
  padding: 10px;
  color: var(--highlight-main-transparent);
  transition: 0.15s;
  text-decoration: none;
}

nav a:hover{
  color: var(--highlight-main);
  transition: 0.15s;
}

nav .nav-burger-button {
  display: none;
}

@media (max-width: 700px)
{
  nav {
    padding: 0px;
    height: 7vh;

    display: flex;

    background: var(--background-main);
  }

  nav .nav-burger-button {
    display: block;
    padding: 0px 20px;

    justify-self: center;
    align-self: center;
  }

  nav .options {
    min-width: 200px;

    position: absolute;
    top: 7vh;
    left: 0;
    background: var(--background-main);

    height: 93vh;

    display: flex;
    flex-direction: column;

    transition: left 1s ease-out;

    justify-content: flex-start;

    padding: 0px 20px;
  }

  nav .options.hidden{
    transition: left 1s ease-in;
    left: -100%;
  }

  nav .options div{
    padding: 20px 0px 20px 0px;
  }

  nav .options div.left{
    border-bottom: 1px solid var(--highlight-main-transparent);
  }

  nav .options div.right{
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

/* main */

main {
  min-height: 100vh;
}

.flex-section {
  display: flex;

  flex-wrap: wrap;

  justify-content: space-between;
  gap: 40px;
} 

.flex-section > div{
  /* background-color: red; */

  flex: 1;
  flex-basis: 350px;
} 

/* footer */

footer {
  width: 100%;

  display: flex;
  flex-direction: row;
}

footer div{
  flex: 1;
  padding: 30px;
}

footer span{
  color: var(--highlight-main-transparent);
}

.footer-name{
  color: var(--highlight-main-transparent);
}

.footer-links{
  text-align: right;
}

.footer-links a{
  font-size: 20px;
  margin-left: 30px;
  color: var(--highlight-main-transparent);
  transition: 0.15s;
}

.footer-links a:hover{
  color: var(--highlight-main);
  transition: 0.15s;
}

@media (max-width: 700px)
{
  footer {
    flex-direction: column-reverse;
  }

  footer div {
    padding: 0px;
  }

  footer .footer-links {
    padding-top: 30px;
    text-align: center;
  }

  footer .footer-name {
    padding-bottom: 30px;
    padding-top: 10px;
    text-align: center;
  }
}