:root
{
  /* color pallete */
  /* dark theme definition */
  /* --background-darker: rgb(17, 24, 39); */
  --background-darker: #151826;
  --background-dark: #111E32;

  --text-main-dark: #ffffff;
  --text-secondary-dark: #ffffff; /* must define color */

  --highlight-main-dark: #3498db;
  --highlight-main-transparent-dark: #3498db65;

  --home-filter-dark: grayscale(1);
  --home-color-filter-dark: rgba(17, 24, 60);

  /* light theme definition */
  /* inspiration: https://dribbble.com/shots/20866856-Smooth-transitions-between-light-and-dark-themes */
  --background-main-light: #FFFFFF;
  --background-secondary-light: #F0F4FA;
  
  --text-main-light: #333846;
  --text-secondary-light: #787B88;

  --highlight-main-light: #396EE6;
  --highlight-main-transparent-light: #396de68f;

  --home-filter-light: grayscale(1) invert(1);
  --home-color-filter-light: rgb(30, 90, 231);

  /* theme variables */
  /* this are the ones to actually use */
  /* [TODO] actually change the rest of the document... */
  --background-main: var(--background-darker);
  --background-secondary: var(--background-dark);

  --text-main: var(--text-main-dark);
  --text-secondary: var(--text-secondary-dark);

  --highlight-main: var(--highlight-main-dark);
  --highlight-main-transparent: var(--highlight-main-transparent-dark);

  --transparent: rgba(255, 255, 255, 0);

  --home-filter: var(--home-filter-dark);
  --home-color-filter: var(--home-color-filter-dark);

  /* breakpoints */
  --small-screen-px: 700px;
  --medium-screen-px: 1250px;
  --large-screen-px: 1800px; 
}

body{
  background-color: var(--background-secondary);
  font-family: "Barlow Semi Condensed", sans-serif;
  color: var(--text-main);
}

h1, h2, h3, h4, p, span, li, a {
  color: var(--text-main);
}

p{
  text-align: justify;
  font-size: 1rem;
  font-weight: 300;
}

h1 {
  font-weight: 500;
  font-size: 50px;
}

h2{
  /* font-size: 2rem; */
  font-weight: 400;
}

h3{
  font-weight: 400;
}

section{
  max-width: 1200px;
  margin: auto;
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
}

.text-highlight {
  color: var(--highlight-main)
}

.text-highlight-transparent {
  color: var(--highlight-main-transparent)
}