.projects-catalog {
  width: 100%;
}

.catalog-filter {
  margin: auto;
  width: fit-content;
}

.catalog-filter .catalog-option {
  color: var(--highlight-main-transparent);
  border: 1px solid var(--highlight-main-transparent);
  border-right: none;
  background-color: var(--background-secondary);
  padding: 2px 20px;
}

.catalog-filter .catalog-option:first-child {
  /* border-radius: 20px 0px 0px 20px; */
}

.catalog-filter .catalog-option:last-child {
  border-right: 1px solid var(--highlight-main-transparent);
  /* border-radius: 0px 20px 20px 0px; */
}

.catalog-filter .catalog-option:hover{
  /* background-color: var(--highlight-main-transparent); */
  cursor: pointer;
  color: var(--highlight-main);
}

.catalog-filter .catalog-option.selected{
  background-color: var(--highlight-main-transparent);
  color: var(--highlight-main);
}

.projects-catalog .projects{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  padding: 40px 0;
}

/* Estilos para el project display */

.project-display{
  display: block;
  text-decoration: none;
  text-align: justify;
  background-color: var(--background-main);
}

.project-display .image-container {
  width: 100%;
  height: 150px;
  display: flex;
  overflow: hidden;
}

.project-display img {
  object-fit: cover;
  flex-shrink: 1;
  height: 100%;
  width: 100%;
}

.project-display .text-container {
  width: 250px;
  padding: 10px;
}

.stack-tag{
  font-weight: lighter;
  font-size: small;
  font-family: sans-serif;
  /* background-color: var(--highlight-main-transparent); */
  color: var(--highlight-main-transparent);
  border-left: 1px solid var(--highlight-main-transparent);
  padding-left: 3px;
  margin-right: 10px;

  transition: 0.15s;
}

.stack-tag:hover{
  color: var(--highlight-main);
  border-left: 1px solid var(--highlight-main);

  transition: 0.15s;
}