.naota-page header {
  background-color: var(--background-main);
  display: flex;
  align-items: center;
  justify-items: center;
  height: 500px;
}

.naota-page header .container {
  /* width: 1000px; */
  margin: auto;

  display: flex;
}

.naota-page header .container title
{
  display: flex;
  align-items: center;
  justify-items: center;
}

.naota-page header .container h1{
  margin: 0px;
}

.naota-page header .links-bar {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.commit-history-container {
  border-left: 1px solid var(--text-main);

  display: flex;

  justify-content: center;
  align-content: center;

  padding-left: 15px;
}